# Data files
/data/
data/
/test_data/
test_data

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

#Log files
*.log

#Png files
*.png